body {
    background-color: aquamarine;
}

footer {
    background-color: cadetblue;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    
}

/* Cuadrados de Section */

.cuadrado {
    height: 200px;
    width: 200px;
}
.rojo {
    background-color:#FF0000;
}
.rojo-rosa {
    background-color:#FF0033;
}
.rosa {
    background-color:#FF0066;
}
.magenta-rosa {
    background-color:#FF0099;
}
.magenta {
    background-color:#FF00CC;
}
.Fucsia {
    background-color:#FF00FF;
}